@page "/faq"
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.SignalR.Client;

<h1>Czesto zadawane pytania</h1>
<hr />

<iframe src='https://webchat.botframework.com/embed/faq-test-project-language-ms-bot?s='  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
